@import "tailwindcss";


/* Локальные шрифты */
@font-face {
  font-family: "ArsenicaTrial";
  src: url("../fonts/ArsenicaTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CirceRounded";
  src: url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
  font-family: "UnifixSPDemo";
  src: url("../fonts/UnifixSPDemo.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
@theme {
  --font-ars: "ArsenicaTrial", ui-sans-serif, system-ui, sans-serif;
  --font-circe: "CirceRounded", ui-sans-serif, system-ui, sans-serif;
  --color-sand: #EFEAE4;
  --color-navy: #22434F;
  --color-statusLoaded: #DBCC6E;
  --color-statusCompleted: #00FF0B;
  --color-statusFailed: #FF0000;
}
/* --font-unifix: "UnifixSPDemo", ui-sans-serif, system-ui, sans-serif; */


/* скрыть полосу прокрутки, но оставить скролл */
@utility scrollbar-none {
  -ms-overflow-style: none;   /* IE/Edge */
  scrollbar-width: none;      /* Firefox */
}

body {
  background-color: var(--color-sand);
  color: var(--color-navy);
  line-height: 1.2;
  font-family: "CirceRounded", serif;
}
/* для Blink/WebKit нужен отдельный селектор */
.scrollbar-none::-webkit-scrollbar { display: none; }

.btn{
  display: block;
  padding: 10px 6px 8px 6px;
  width: 100%;
  
  background-color: var(--color-navy);
  border-radius: 15px;
  
  font-family:"CirceRounded", serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/*
:root {

  --tg-theme-header-bg-color: #111a28;
  --tg-color-scheme: dark;
  --tg-theme-bg-color: #1a293f;
  --tg-theme-accent-text-color: #007aff;
  --tg-theme-section-header-text-color: #b1c3d5;
  --tg-theme-section-bg-color: #1a293f;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-section-separator-color: #1f314c;
  --tg-theme-bottom-bar-bg-color: #131d2d;
  --tg-theme-secondary-bg-color: #111a28;
  --tg-theme-subtitle-text-color: #b1c3d5;
  --tg-theme-link-color: #007aff;
  --tg-theme-button-color: #007aff;
  --tg-theme-destructive-text-color: #ef5b5b;
  --tg-theme-hint-color: #b1c3d5;
  --tg-theme-text-color: #ffffff;
  --tg-viewport-height: 100vh;
  --tg-viewport-stable-height: 100vh;
  --tg-content-safe-area-inset-top: 0px;
  --tg-content-safe-area-inset-bottom: 0px;
  --tg-content-safe-area-inset-left: 0px;
  --tg-content-safe-area-inset-right: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--tg-theme-text-color);
}
body {
  background-color: #dca876;
}
html {
  font-size: 16px;
  line-height: 1.5;
}



.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

 */