HOST=https://test.ru
PORT=3000
JWT_SECRET=test
TYPE_DEV=prod или dev
CHANNEL_USERNAME=@user_name
DATABASE_URL=postgresql://{login}:{password}@localhost:{port}/{name_db}?schema=public

TIMEWEB_API_KEY=
TIMEWEB_TOKEN=

TG_BOT_TOKEN_DEV=
TG_BOT_TOKEN_PROD=
OPENAI_API_KEY=fake
